<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Favorite Restaurants!</title>
    
    <link rel="stylesheet" href="~/css/styles.css"type="text/css"/>
  </head>
  <body>
    @RenderBody()
  </body>
</html>