@{
    Layout = "_Layout";
}

 <div class="sidebar">


<h1>Your Favorite Restaurants</h1>

</div>


<h3>@Html.ActionLink("See All Restaurants", "Index", "Restaurants")</h3>
<h3>@Html.ActionLink("See All Cuisines", "Index", "Cuisines")</h3> 


